.note { 
    border: 1px solid blue;
}
.email {
    border: 1px solid green;
}
.todo {
    border: 1px solid red;
} 
.error {
    border: 1px solid red;
    background-color: coral
} 
.addTag {
    color: aqua;
    text-decoration: underline;
    cursor: pointer;
}